  .titlebar {
    background-color: #ffe8d4;
    height: 91px;
    color: #818181;
  }

  .title {
    display: inline-block !important;
    margin-left: 30px;
  }

  .titlebar h3 {
    margin-top: 20px;
  }

  .content {
    margin-left: auto; 
    margin-right: auto; 
    width: 50%;
    padding-top: 20px;
  }

  .list-item-content {
    margin-left: 20px;
    margin-top: 20px;
  }

  .back-btn {
    padding-bottom: 10px;
  }

  .small-text {
    font-size: smaller;
  }